/**
 * Copyright 2016-2021 the authors (see README.md).
 *
 * This file is part of clean-highlighter.
 *
 * Clean-highlighter is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by the
 * Free Software Foundation, version 3 of the License.
 *
 * Clean-highlighter is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
 * License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with clean-highlighter. If not, see <https://www.gnu.org/licenses/>.
 *
 * The software is licensed under additional terms under section 7 of the GNU
 * Affero General Public License; see the LICENSE file for details.
 */

.comment {
	color: #aaaaaa;
	font-style: italic;
}

.error {
	outline: 1px solid red;
}

.funcname, .modulename {
	color: #5998c2;
	font-weight: bold;
}

.funcname.funcname-onlyused, .argument {
	color: #6e94ad;
	font-weight: normal;
}

.argumentinrhs {
	color: #888;
}

.classname, .generic {
	color: #5998c2;
}

.typevar {
	color: #59c28a;
	font-weight: bold;
}

.type {
	color: #e3890b;
	font-weight: bold;
}

.punctuation {
	color: #777;
}

.existential {
	color: #444;
}

.qualified {
	color: #444;
	font-weight: normal;
}

.field {
	color: #41b1b5;
}

.constructor {
	color: #932d1d;
	font-weight: bold;
}

.keyword {
	color: #333;
	font-weight: bold;
}

.literal {
	color: #a42e30;
}

.abc-instruction {
	color: #087c35;
	font-weight: bold;
}

.abc-directive {
	color: #a42e30;
}

.abc-argument {
	font-style: italic;
}
