h1, h3 {
	text-align: center;
}

h3.failed {
	color: #e32;
}

h3.passed {
	color: #181;
}

table {
	border-collapse: separate;
	border-spacing: 0 .8em;
	margin: 0 auto;
}

tr {
	padding-bottom: 10px;
}

td {
	border-color: #666;
	border-style: solid;
	border-width: 1px 0;
	padding: 0 2em 0 .5em;
	vertical-align: top;
}

tr.failed td:first-child {
	background-color: #e32;
}

tr.passed td:first-child {
	background-color: #181;
}

tr.passed pre {
	line-height: 0;
	visibility: hidden;
}

tr:hover pre {
	line-height: initial;
	visibility: visible;
}

pre {
	tab-size: 4;
	-moz-tab-size: 4;
}
